---
import github from './github.astro'
---

<footer>
  <p mt-8 text-xs op-30 flex items-center>
    <span pr-1 text-xl>Made by Edward.zhao</span>
    <span px-1 >|</span>
    <img w-8 h-8 src="../img/github.svg">
    <a
      ml-10px text-xl
      b-slate-link
      href="https://github.com/zhaoritian001" target="_blank"
    >
      GITHUB
    </a>
  </p>
</footer>
